/*** FOOTER ***/

.footer {
  text-align: start;

}

/* First footer */

.footer-main-container {
  padding: 86px 117px;
  display: grid;
}

/* Menu navigation */

.footer-menu {
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  display: flex;
  justify-content: space-between;
}

.footer-menu h3 {

}

.footer-menu-list {
  display: grid;
}

.footer-menu-item {

}

.footer-contacts {
  
}

/* Payment */

.footer-payment {
  margin-top: 55px;
  display: flex;
  justify-content: space-between;
}

.footer-payment p {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.footer-payment h3 {
  padding: 0 10px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
}

.footer-payment .copywrite {
  display: flex;
  align-items: center;
}

.payment a {

}