/* Variables */

:root {
  --background-dark: #FFEBE0;
  --background-grey: #FAFAFA;
  --background-yellow: #FCF7EB;

  --basic-black: #000000;
  --basic-black-light: #2F2F2F;
  --basic-white: #ffffff;
  --basic-grey: #ECEFF1;
  --basic-yellow: #E1B039;
  --basic-orange: #F3612E;
  
  --special-grey: #C2C7CD;
  --special-orange: #F3692E;
}

/* Global */

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

h1, h3 {
  margin: 0;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
 text-decoration: none;
 color: var(--basic-black-light);
}

.button {
  width: 250px;
  padding: 9px 5px;
  margin: 0 5px;
  font-family: 'Nunito Sans', Arial, sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 21px;
  color: var(--basic-black);
  text-align: center;
  vertical-align: middle;
  justify-self: center;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 2px;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  width: 1440px;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: 'Nunito Sans', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  color: var(--basic-black-light);
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

.main-container {
  margin: 0 auto;
  padding: 0;
}

/***  GLOBAL FOR STANDART PAGES  ***/

.wrapper-standard {
  text-align: start;
  display: grid;
}

.page-title {
  padding: 30px 0 10px;
}

.wrapper-standard h2 {
  margin: 0;
  padding: 18px 116px;
  font-size: 38px;
  line-height: 40px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: start;
}


/*** HEADER ***/

.header {
  padding: 17px 0;
  background-color: var(--background-dark);
}

.main-navigation {
  margin: 0 118px;
  display: grid;
  grid-template-columns: min-content auto 10%;
  align-items: center;
}

.main-header-logo {
}

.site-navigation {
  padding-left: 140px;
  display: flex;
  flex-wrap: wrap;
}

.column-menu {
  margin-right: 23px;
  padding: 0 20px;
}

.user-navigation {
  padding-top: 9px;
  display: flex;
  justify-content: space-between;
}

.sirch-link {
  padding: 2px 5px;
}

                          /*** MAIN PAGE ***/

/* Head */

.head {
  min-height: 486px;
  padding-top: 133px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto 1fr;
  background-color: var(--background-dark);
}

.head-image {
  padding-top: 3px;
  width: 863px;
  grid-row: 1 / 3;
  display: grid;
  background-color: var(--background-yellow);
  border-radius: 0 250px 250px 0;
}

.head-foto {
  z-index: 1;
  padding-left: 67px;
}

.head-formula {
  padding-top: 197px;
  padding-left: 93px;
  position: absolute;
}

.head-title {
  padding-left: 65px;
}

.head p {
  padding: 67px 100px 60px 80px;
  font-size: 19px;
  line-height: 34px;
}

/* Filter */

.filter {
  min-height: 138px;
  padding: 0 116px;
  display: grid;
  grid-template-columns: max-content auto max-content;
  background-color: var(--special-grey);
}

.filter-text {
  padding-top: 43px;
  display: flex;
  flex-direction: column;
}

.filter-text p {
  font-size: 14px;
  line-height: 16px;
}

.filter-text .number-of-games {
  font-size: 24px;
  line-height: 36px;
}

.filter-button {
  width: 394px;
  margin-top: 8px;
  margin-left: 114px;
  padding: 9px 15px;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  color: var(--basic-white);
  text-align: center;
  vertical-align: middle;
  align-self: center;
  background-color: var(--basic-orange);
  border: 2px solid var(--special-orange);
  box-sizing: border-box;
  border-radius: 60px;
  cursor: pointer;
}

.sorting-options {
  padding-top: 36px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.sorting-options P {
  padding-bottom: 3px;
  font-size: 14px;
  line-height: 16px;
}

.how-to-sort {
  margin-top: 4px;
  display: flex;
}

.how-to-sort img {
  margin-right: 2px;
  padding: 5px 8px 5px 13px;
  background-color: var(--basic-black-light);
  border: 1px solid var(--basic-black-light);
  box-sizing: border-box;
  border-radius: 5px 0 0 5px;
  cursor: pointer;
}

.how-to-sort .sorting-versions {
  padding: 5px 28px 5px 10px;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-white);
  background-color: var(--basic-black-light);
  border: 1px solid var(--basic-black-light);
  box-sizing: border-box;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

/* Catalog */

.catalog {
  margin-top: 3px;
  padding: 25px 0 75px;
  display: grid;
  background-color: var(--background-grey);
}

.catalog-list {
  padding: 0 99px;
  padding-bottom: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-item {
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.card-item:nth-child(odd) {
  background: right 0 no-repeat url("../img/background/yellow-points.png");
}

.card-item:nth-child(even) {
  background: left 125px no-repeat url("../img/background/grey-points.png");
}

.visual-rating {
  width: 27px;
  padding: 10px;
  align-self: flex-end;
  position: absolute;
}

.card-item a {
  display: flex;
  flex-direction: column;
}

.game-image {
  width: 184px;
  height: 184px;
  overflow: hidden;
  margin-bottom: 18px;
  border: 1px solid transparent;
  border-radius: 15px;
  object-fit: contain;
  background-color: var(--background-dark);
}

.game-header {
  padding-left: 4px;
  display: flex;
  flex-direction: column;
}

.game-title {
  font-size: 16px;
  line-height: 21px;
}

.game-tags {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: lowercase;
}

.game-autor {
  padding-left: 4px;
  padding-top: 13px;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  text-transform: none;
  display: flex;
  align-items: center;
}

.avatar {

}

.game-autor p {
  padding-left: 9px;
}
              
/* New games */

.new-games {
  padding: 70px 0;
  display: grid;
}

/* Favourites games */

.favourites-games {
  padding: 10px 0;
  display: grid;
}

.favourites-games h2 {
  text-align: start;
}

.navigation-buttons button {
  width: 66%;
  margin-right: 10px;
}

.navigation-buttons a {
  width: 33%;
}

/*** FOOTER ***/

.footer {
  text-align: start;

}

/* First footer */

.footer-main-container {
  padding: 86px 117px;
  display: grid;
}

/* Menu navigation */

.footer-menu {
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  display: flex;
  justify-content: space-between;
}

.footer-menu h3 {

}

.footer-menu-list {
  display: grid;
}

.footer-menu-item {

}

.footer-contacts {
  
}

/* Payment */

.footer-payment {
  margin-top: 55px;
  display: flex;
  justify-content: space-between;
}

.footer-payment p {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.footer-payment h3 {
  padding: 0 10px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
}

.footer-payment .copywrite {
  display: flex;
  align-items: center;
}

.payment a {

}

                        /***  ABOUT.HTML  ***/

.project-history {
  /* outline: 1px solid red; */
}

.our-team {
  /* outline: 1px solid red; */
}

.for-partners {

  /* outline: 1px solid red; */
}

                         /*** HELP.HTML ***/




                         
                         /*** ADAPTATION ***/

/* @media (max-width: 1000px) {
} */

/* @media (max-width: 1050px) {
}
  
@media (max-width: 960px) {
} */